<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    {% block stylesheets %}
    <link id="bootstrap" href="{{base}}/public/css/bootstrap.{{theme}}.min.css" rel="stylesheet">
    <link href="{{ base }}/public/css/typeahead.js-bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .container {
          max-width: 100% !important;
          padding: 0 20px;
      }
      table {
        max-width: none !important;
      }
      #content {
        width: 98%;
      }
      form input, form textarea, form select {
        max-width: 100%;
      }
    </style>
	{% endblock %}

	<script>
		//this allows us to create onReady functions in the body before loading jquery
		window.queued_jquery_calls = [];
		window.$ = function(func) {
			window.queued_jquery_calls.push(func);
		}
	</script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{base}}/public/js/html5shiv.js"></script>
      <script src="{{base}}/public/js/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
	 -->
  </head>

  <body>	
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{base}}">
                    <img src="{{ base }}/public/images/logo.png" height="20" alt="Core Support Automotive Recycling"/>
                    {% block brand %}CSAR Reports{% endblock %}
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                {% block navdropdown %}
                    {% if recent_reports %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recently Run <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for recent_report in recent_reports %}
                                <li><a href="{{ recent_report.url }}">{{ recent_report.Name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                {% endblock %}
                </ul>
                {% block searchbar %}
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control search-query" placeholder="Find Report...">
                    </div>
                </form>
                {% endblock %}

                {% block navbar %}{% endblock %}

                {% block environment_chooser %}
                    {% if config.environments|length > 1 %}
                    <script type="text/javascript">
                    function change_environment(environment) {
                        $.getJSON('{{ base }}/set-environment', {
                            environment: environment
                        })
                        .success(function() {
                            $('#environment > strong').text(environment);
                            $('ul#environments-list li').each(function() {
                                if ($(this).hasClass('active') && $(this).children().text() != environment) {
                                    $(this).removeClass('active');
                                }
                                if ($(this).children().text() == environment) {
                                    $(this).addClass('active');
                                }
                            });
                        });
                    }
                    </script>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="environment">Environment: <strong>{{ environment }}</strong> <b class="caret"></b></a>
                            <ul class="dropdown-menu" id="environments-list">
                            {% for option in config.environments|keys %}
                                <li{% if option == environment %} class="active"{% endif %}><a href="#" onclick="change_environment('{{option}}')">{{option}}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
            {% endblock %}
            {% block theme_switcher %}
                {% if config.bootstrap_themelist|length > 1 %}
                    <script type="text/javascript">
                        function changeTheme(theme) {
                            $('#bootstrap').attr('href', '{{ base }}/public/css/bootstrap.' + theme + '.min.css');
                            $.cookie('reports-theme', theme, {path: '{{path}}', expires: 365});
                            $('#theme-swtich > strong').text(theme);
                            $('ul#themes-list li').each(function(){
                                if ($(this).hasClass('active') && $(this).children().text() != theme) {
                                    $(this).removeClass('active');
                                }
                                if ($(this).children().text() == theme) {
                                    $(this).addClass('active');
                                }
                            });
                        }
                    </script>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="theme-swtich">Theme: <strong>{{ theme }}</strong> <b class="caret"></b></a>
                            <ul class="dropdown-menu" id="themes-list">
                                {% for option in config.bootstrap_themelist %}
                                    <li{% if option == theme %} class="active"{% endif %}><a href="#" onclick="changeTheme('{{option}}')">{{option}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            {% endblock %}
        </div>
      </div>
    </div>

    <div class="container">
		<div class="header">
		{% block header %}
			{{ header|raw }}
		{% endblock %}
		</div>
		

		{% block notice_area %}
			{% if error %}
				<div class="alert alert-danger">
					{% if error.message is defined %}
						{{error.message}}
					{% else %}
						{{error}}
					{% endif %}
				</div>
			{% endif %}

			{% if notice %}
				<div class="alert alert-info">
					{{notice}}
				</div>
			{% endif %}
		{% endblock %}

		<div id="content">
		{% block content %}
			{{content|raw}}
		{% endblock %}
		</div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascripts %}
    <!--[if lt IE 9]>
    <script src="{{base}}/public/js/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
    <script src="{{base}}/public/js/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <script src="{{base}}/public/js/bootstrap-3.0.min.js"></script>
    <script src="{{base}}/public/js/jquery.cookie.js"></script>
    <script src="{{base}}/public/js/typeahead.min.js"></script>
	<script src="{{base}}/public/js/scripts.js"></script>
    <script>
		//typeahead report search
		(function() {
            var data = new Dataset({
                prefetch: {
                    url: '{{ base }}/report-list-json',
                    ttl: 0
                },
                valueKey: 'name',
                sorter: function(a,b) {
                    var val = $('form[role="search"] input.search-query').typeahead('val')[0];

                    //beginning of title match
                    var beg = new RegExp('^'+val,'i');
                    //word boundary match
                    var word = new RegExp('\b'+val,'i');

                    //weights for components of the sort algorithm
                    var popweight = 2;
                    var wordweight = 10;
                    var begweight = 15;

                    //popularity
                    var popa = a.popularity;
                    var popb = b.popularity;

                    //beginning of string match
                    var bega = beg.test(a.name);
                    var begb = beg.test(b.name);

                    //beginning of word match
                    var worda = !bega && word.test(a.name);
                    var wordb = !begb && word.test(b.name);

                    //determine score
                    var scorea = popa*popweight + bega*begweight + worda*wordweight;
                    var scoreb = popb*popweight + begb*begweight + wordb*wordweight;

                    return scoreb - scorea;
                }
            });

            $('form[role="search"] input.search-query').typeahead({
                sections: [{
                    source: data,
                    highlight: true
                }]
            }).on('typeahead:selected',function(e,obj) {
                window.location.href = obj.url;
            });
		})();
    </script>
	{% endblock %}
	<script>
		//run any queued on-ready scripts
		for(var i in queued_jquery_calls) {
			$(queued_jquery_calls[i]);
		}
	</script>
  </body>
</html>
